/* 匹配 right action tooltip */
.tippy-box:not([data-theme~='light-border']) {
  font-size: var(--base-size-12);
  line-height: var(--base-text-lineHeight-relaxed);
  color: var(--tooltip-fgColor);
  background-color: var(--tooltip-bgColor);
  border: none;
  border-radius: var(--borderRadius-medium);
  box-shadow: var(--shadow-floating-small);

  .tippy-arrow {
    color: var(--tooltip-bgColor);
  }

  [data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: var(--tooltip-bgColor);
  }

  [data-placement^='left'] > .tippy-arrow::before {
    border-left-color: var(--tooltip-bgColor);
  }

  [data-placement^='right'] > .tippy-arrow::before {
    border-right-color: var(--tooltip-bgColor);
  }

  .tippy-svg-arrow {
    fill: var(--tooltip-bgColor);
  }

  .tippy-backdrop {
    background-color: var(--tooltip-bgColor);
  }

  .tippy-dropdown-title {
    color: var(--fgColor-accent);
  }
}

/* 匹配 dropdown */
.tippy-box[data-theme~='light-border'] {
  color: var(--fgColor-default);
  background-color: var(--bgColor-default);
  border: var(--borderWidth-thin) solid var(--borderColor-default) !important;
  border-radius: var(--borderRadius-medium);

  .bytemd-dropdown-title {
    color: var(--fgColor-default);
    border-bottom: 1px solid var(--borderColor-default);
  }

  .bytemd-dropdown-item:hover {
    background-color: var(--button-invisible-bgColor-hover);
  }
}
