.cursor/**
.vscode/**
node_modules/**
extension/**
src/**
types/**
index.html
pnpm-lock.yaml

.DS_Store
.github/**
.git/**
.gitignore
.npmrc
.eslintcache
.stylelintcache
eslint.config.mjs
prettier.config.mjs
stylelint.config.mjs
commitlint.config.mjs
vite.config.ts
tsconfig.json
tsconfig.node.json
