.vscode/**
.vscode-test/**
out/**

node_modules/**
src/**
webview-ui/**
webpack.config.js
babel.config.js
pnpm-lock.yaml

.DS_Store
.gitignore
.npmrc
.eslintcache
.eslintrc.js
.prettierrc.js
.stylelintrc.js
.stylelintcache

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
