.cursor/**
.vscode/**
node_modules/**
extension/**
src/**
types/**
index.html
pnpm-lock.yaml

.DS_Store
.git/**
.gitignore
.npmrc
.eslintcache
.stylelintcache
eslint.config.js
prettier.config.js
stylelint.config.js
commitlint.config.js
vite.config.ts
tsconfig.json
tsconfig.node.json
