body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.app-title {
  padding: 8px;
}

.app-labels {
  padding: 8px;
  user-select: none;
}

.app > div:nth-child(3) {
  position: relative;
  flex: 1;
  margin: 0 8px 8px;
}

.app-action-box {
  position: fixed;
  right: 8px;
  bottom: 102px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
}

.app-action-box > .ant-btn {
  margin-bottom: 8px;
}

.bytemd {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bytemd-toolbar-right div:nth-child(1) {
  display: none;
}

.bytemd-toolbar-right div:nth-child(1) {
  display: none;
}

.bytemd-toolbar-right div:nth-child(3) {
  display: none;
}

.bytemd-toolbar-right div:nth-child(4) {
  display: none;
}

.bytemd-toolbar-right div:nth-child(6) {
  display: none;
}

.bytemd img {
  width: 100%;
}

.app-bloglist {
  display: flex;
  flex-direction: column;
}

.blog-filter {
  margin-bottom: 8px;
}

.app-bloglist-item {
  position: relative;
  width: 90%;
  padding: 4px;
  margin-bottom: 8px;
  overflow: hidden;
  font-size: 14px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.65);
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.app-bloglist-item:hover {
  color: #fff;
  background-color: #94c2ed;
}

.edit-tag,
.site-tag-plus,
.tag-input {
  margin: 4px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

.app-bloglist {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-bloglist .list {
  flex: 1;
  overflow: auto;
}

.ant-drawer-body {
  padding: 8px;
}

.blog-pagination {
  margin-bottom: 24px;
  text-align: center;
}
