code {
  color: var(--color-fg-default);
}

a code {
  color: var(--color-accent-fg);
}

blockquote {
  background: none !important;
  border-color: var(--color-border-default);
}

.markdown-body {
  font-size: 14px;
}

pre code.hljs {
  display: inline !important;
  padding: 0 !important;
}
