html {
  scrollbar-color: rgba(121, 121, 121, 0.4) transparent !important;
}

body {
  padding: 0 !important;
  margin: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f6f8fa;
}

.app-labels-skeleton {
  background-color: #eaeef2;
}

.app-editor {
  position: relative;
}
