@import url('bytemd/dist/index.min.css');
@import url('@/styles/github.custom.css');

code {
  color: var(--color-fg-default);
}

a code {
  color: var(--color-accent-fg);
}

blockquote {
  background: none !important;
  border-color: var(--color-border-default);
}

/* 覆盖 bytemd 的样式以保持与 Primer 一致的圆角 */
.app .bytemd {
  border-radius: 6px;
}

.app .bytemd .bytemd-toolbar {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.markdown-body {
  font-size: 14px;
}

.bytemd {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bytemd-toolbar-right div:nth-child(1) {
  display: none;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.bytemd-toolbar-right div:nth-child(1) {
  display: none;
}

.bytemd-toolbar-right div:nth-child(3) {
  display: none;
}

.bytemd-toolbar-right div:nth-child(4) {
  display: none;
}

.bytemd-toolbar-right div:nth-child(6) {
  display: none;
}

.bytemd img {
  width: 100%;
}
