@import url('bytemd/dist/index.min.css');
@import url('@/styles/github.custom.css');

code {
  color: var(--color-fg-default);
}

a code {
  color: var(--color-accent-fg);
}

blockquote {
  background: none !important;
  border-color: var(--color-border-default);
}
