/* stylelint-disable */

.markdown-body code {
  color: var(--fgColor-default);
}

.markdown-body a code {
  color: var(--fgColor-accent);
}

.markdown-body blockquote code {
  color: var(--fgColor-muted);
}

.markdown-body a {
  text-decoration: underline;
}

.markdown-body .task-list-item > input[type='checkbox'] {
  margin: 0 0.2em 0.25em -1.4em;
  vertical-align: middle;
}

.markdown-body a[aria-describedby='footnote-label']:before {
  content: '[';
}

.markdown-body a[aria-describedby='footnote-label']:after {
  content: ']';
}

.markdown-body #user-content-footnote-label {
  position: relative !important;
  visibility: hidden !important;
  width: 100% !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: visible !important;
  border: none !important;
  clip: auto !important;
  clip-path: none !important;
}

.markdown-body #user-content-footnote-label::before {
  display: block;
  visibility: visible !important;
  width: 100%;
  margin-block-end: var(--base-size-16);
  content: '';
  border-top: 1px solid var(--borderColor-default);
}

.markdown-body .bytemd-mermaid {
  margin-block-end: var(--base-size-16);
}

.markdown-body .markdown-alert .markdown-alert-title {
  gap: var(--base-size-8, 8px);
}

pre code.hljs {
  display: inline !important;
  padding: 0 !important;
}

code.hljs {
  padding: 3px 5px;
}

/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: var(--color-fg-default);
  background: var(--color-canvas-subtle);
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: var(--color-prettylights-syntax-keyword);
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__ {
  /* prettylights-syntax-entity */
  color: var(--color-prettylights-syntax-variable);
}

.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: var(--color-prettylights-syntax-entity);
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: var(--color-prettylights-syntax-constant);
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: var(--color-prettylights-syntax-string);
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: var(--color-prettylights-syntax-storage-modifier-import);
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: var(--color-prettylights-syntax-comment);
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: var(--color-prettylights-syntax-string);
}

.hljs-section {
  font-weight: bold;
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}

.hljs-emphasis {
  font-style: italic;
  /* prettylights-syntax-markup-italic */
  color: #24292e;
}

.hljs-strong {
  font-weight: bold;
  /* prettylights-syntax-markup-bold */
  color: #24292e;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}
