@import url('@primer/css/dist/primer.css');
@import url('@primer/primitives/dist/css/base/motion/motion.css');

/* stylelint-disable-next-line selector-id-pattern */
#__primerPortalRoot__ {
  z-index: 100;
}
