.animated-toast {
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(-100%);
  animation: fade-in-right 0.2s forwards;
}

.fade-out-left {
  opacity: 1;
  transform: translateX(0);
  animation: fade-out-left 0.2s forwards;
}

@keyframes fade-in-right {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out-left {
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
