body:has(#root > div[data-color-mode='dark']),
body.vscode-dark:has(#root > div[data-color-mode='auto']) {
  .markdown-body svg[aria-roledescription='xychart'] {
    rect {
      fill: #333;
    }

    .title > text,
    .chart-title > text {
      fill: #e0dfdf;
    }

    // 柱状图
    .plot g[class^='bar-plot-'] rect {
      fill: #3498db !important;
    }

    // 折线
    .plot g[class^='line-plot-1'] path {
      stroke: #2ecc71 !important;
    }

    // Y 轴
    .left-axis .axisl-line path,
    .left-axis .ticks path {
      stroke: #e0dfdf;
    }

    // X 轴
    .bottom-axis .axis-line path,
    .bottom-axis .ticks path {
      stroke: #e0dfdf;
    }
  }
}
