@import url('@primer/primitives/dist/css/functional/themes/light.css');
@import url('@primer/primitives/dist/css/base/size/size.css');
@import url('@primer/primitives/dist/css/base/typography/typography.css');
@import url('@primer/primitives/dist/css/functional/size/border.css');
@import url('@primer/primitives/dist/css/functional/size/breakpoints.css');
@import url('@primer/primitives/dist/css/functional/size/size-coarse.css');
@import url('@primer/primitives/dist/css/functional/size/size-fine.css');
@import url('@primer/primitives/dist/css/functional/size/size.css');
@import url('@primer/primitives/dist/css/functional/size/viewport.css');
@import url('@primer/primitives/dist/css/functional/typography/typography.css');

body {
  padding: 0 !important;
  margin: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.app-title {
  display: flex;
  align-items: center;
  padding: 8px;
}

.app-title input {
  flex: 1;
  font-weight: 500;
  color: #1f2328;
}

.app-title .number {
  margin-left: 8px;
  font-size: 14px;
  color: #808080;
  cursor: pointer;
}

.app-labels {
  padding: 8px;
  user-select: none;
}

.app > div:nth-child(3) {
  position: relative;
  flex: 1;
  margin: 0 8px 8px;
}

.app-action-box {
  position: fixed;
  right: 16px;
  bottom: 32px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
}

.app-action-box > .ant-btn {
  margin-bottom: 8px;
}

/* stylelint-disable-next-line selector-max-compound-selectors */
.app-action-box > .ant-btn > .ant-btn-icon {
  position: relative;
  top: 1px;
}

.bytemd {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bytemd-toolbar-right div:nth-child(1) {
  display: none;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.bytemd-toolbar-right div:nth-child(1) {
  display: none;
}

.bytemd-toolbar-right div:nth-child(3) {
  display: none;
}

.bytemd-toolbar-right div:nth-child(4) {
  display: none;
}

.bytemd-toolbar-right div:nth-child(6) {
  display: none;
}

.bytemd img {
  width: 100%;
}

.app-issue-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.issue-filter {
  margin-bottom: 16px;
}

.app-issue-list-item {
  display: flex;
  align-items: center;
  padding: 9px 8px;
  font-size: 14px;
  color: #1f2328;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.app-issue-list-item .title {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-issue-list-item .number {
  margin-left: 6px;
  color: #808080;
}

.app-issue-list-item:hover {
  color: #00b96b;
  background-color: #f4f5f5;
}

.label-input {
  width: auto;
  margin-right: 8px;
  font-size: 12px;
}

.add-label {
  cursor: pointer;
}

.app-issue-list .list {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
}

.app-issue-list .list::-webkit-scrollbar {
  width: 0;
  height: initial;
}

.ant-drawer-body {
  padding: 8px;
}

.issue-pagination {
  margin-top: 16px;
  text-align: center;
}
